# Python
__pycache__/
*.pyc

# Environments
metaforge_venv/

# Data
data/
data/meta_reg.csv
*.csv

# Models & artifacts
models/
*.pkl
*.joblib

# OS
.DS_Store

#datasets
datasets/

# dataset_miner
src/dataset_miner.py

Updates.md

backend/app/logs
backend/app/tmp